.body-top {
  // background-color: rgb(184, 235, 252);
  height: 55vh;
}

.danh-cho-ban {
  background-color: rgb(255, 255, 255);
  // height: 50vh;
  display: flex;
  justify-content: center;

  .ben-trong {
    display: flex;
    justify-content: start;
    width: 80%;
  }

  .cot-ben-trong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .htron {
    height: 30vh;
    width: 30vh;
    background-color: yellow;
    border-radius: 50%;
  }

  .hcn-toan-dien {
    width: 80vh;
    // width: 550px;
    height: 13vh;
    border-radius: 5vh;
    border: 1px solid rgb(231, 223, 223);
    background-image: url("./ic_background_grid_item.b108f491.png");
    background-size: cover; /* Phủ toàn bộ khu vực của phần tử */
    background-position: center; /* Căn giữa hình nền */
    background-repeat: no-repeat; /* Ngăn không cho hình nền lặp lại */
  }

  .boc-ngoai-Imghcn {
    width: 10vh;
    height: 10vh;
    // background-color: rgb(187, 187, 187);
    background-color: rgb(255, 246, 238);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 20%;
  }
}

.footer {
  margin-top: 20px;
  width: 100%;
  height: 30vh;
  background-color: rgb(187, 187, 187);
}
.custom-carousel {
  .slick-dots li {
    width: 5px; // Kích thước dấu tròn
    height: 5px; // Chiều cao dấu tròn
    border-radius: 50%; // Biến thành hình tròn
    background-color: yellow; // Màu vàng
    margin: 0 5px; // Khoảng cách
    border: none; // Bỏ border
    box-shadow: none; // Bỏ bóng

    &.slick-active {
      background-color: darkorange ; // Màu cho dấu đang hoạt động
      width: 10px; // Kích thước dấu tròn
      height: 10px ; // Chiều cao dấu tròn
      border-radius: 50% ; // Biến thành hình tròn
      border: none; // Bỏ border
      box-shadow: none; // Bỏ bóng
    }
  }
}
