.txtTile {
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sticky-col {
    position: sticky;
    top: 0; /* Đặt vị trí dính trên cùng */
    z-index: 100; /* Đảm bảo nó nằm trên các phần tử khác nếu cần */
    background-color: #f6f6f6;
    border-top: 1px solid rgba(228, 228, 221, 0.637);
    border-bottom: 2px solid #eee;
}

.giaKhamdiv {
    // background-color: yellow;
    padding: 10px;
    height: 80px;
    width: 300px;
    margin: auto;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Thêm viền mờ */
    border-radius: 6px; /* Nếu muốn bo góc viền */
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.giaKhamdiv.active1 {
    border-color: red; /* Màu viền khi radio được chọn */
}

.cac-the-input {
    margin: auto;
}
.ant-input::placeholder {
    font-weight: 400; /* Để chữ trong placeholder đậm */
}
.divTT {
    background-color: rgb(250, 247, 247);  
    border-radius: 6px;   
}
.txtTT {
    padding: 0 20px;
    font-size: 16px;
    line-height: 5px;
}
.txtTTT {
    padding: 0 20px;
    font-size: 16px;
}

.box-title-doctor {
    position: relative;
    top: 30px;
}
.txt-Title-doctor-noi-bat {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: rgb(134, 132, 132);
}
.title-nho {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: relative;
    top: 5px;
    color: rgb(179, 176, 176);
}

.view-body-xem-lich-ck {
    background-color: rgb(247, 246, 246);
}
.txt-bacsi {
    font-size: 18px;
    padding-left: 10px;
    line-height: 10px;
    // text-align: center;
    color: rgb(69, 195, 210);
    font-weight: 500;
}
.colors {
    color: rgb(69, 195, 210);
    font-weight: 500;
}
