.body-view-doctor {
    width: 75%;
    height: 1000px;
    background-color: antiquewhite;
    justify-content: center;
    // display: flex;
    margin: auto;
}

.body-view-doctocc {
    // background-color: antiquewhite;
    justify-content: center;
    margin: auto;
}

.cach-deu {
    margin-right: 18px;
    margin-bottom: 10px;
    justify-content: start;
    
}

.lich-kham {
    width: 100%;
    height: 35px;
    background-color: rgba(228, 228, 221, 0.637);
    text-align: center;
    justify-content: center;
    line-height: 35px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    padding: 5px;
    border: 2px solid rgba(228, 228, 221, 0.637);
}
.lich-kham:hover {
    border: 2px solid rgba(99, 99, 240, 0.856);
    cursor: pointer;
}
.span-gia-kham {
    margin-left: 5px;
}