// src/components/Slider/Slider.scss
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.slider-item {
  min-width: 33.33%; // Để hiển thị 3 items một lần
  box-sizing: border-box;
  padding: 0 10px; // Thêm khoảng cách giữa các item nếu cần
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;  
}

.slider-button.left {
  position: relative;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: gray;
  border: 1px solid rgb(0, 179, 179);
  border-radius: 10px;
}

.slider-button.right {
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: gray;
  border: 1px solid rgb(0, 179, 179);
  border-radius: 10px;
}
