.styles {
    background-color: white;
    border: 1px solid #e9d8d8;
    padding: 8px 0;
    border-radius: 8px;
    text-align: center;

    // Hiệu ứng khi hover
    &:hover {
        cursor: pointer;
        background-color: #d3ffa9; // Màu nền khi hover
    }
}

// Thêm lớp cho trạng thái đã chọn
.activee {
    // background-color: #e6f7ff; // Màu nền khi được chọn
    background-color: #d3ffa9; // Màu nền khi được chọn
}
